/* binh */
body {
    font-family: 'Signika' ;
    background-color: white;
}
.navbar {
    padding: 0px 50px;
}
.b-search-area {
    height: 420px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(img/saigon6.jpg);
    opacity: 1;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.b-search-bar {
    margin-left: 15%;
    margin-right: 15%;
}
.custom-select {
    width: 250px;
    height: 50px;
}
.title {
    display: flex;
    justify-content: center;
}
.input-group > .input-group-prepend >button {
    background-color: white;
    color:grey;
    outline: none;
}
.card-deck {
    justify-content: space-between;
}


/* Nguyen */
:root {
    --darkblue: #003399;
    --lightblue: #3974e9;
    --gray: rgb(48, 48, 48);
}

.darkblue {
    color: var(--darkblue);
}

.lightblue {
    color: var(--lightblue);
}

.gray {
    color: var(--gray);
}

.general-page {
    width: 100%;
}
.main-content {
    padding: 0 15%;
    display: block;
    padding: 5% 15%;

    border: 1px solid black;
}
.nguyen-img {
    width: 100%;
}

.nguyen-paragraph {
    font-family: 'Karla';
}
.b-content {
    display: block;
}
.jumpbotron {
    background-color: white;
}